<!DOCTYPE html>
<html>
  <head>
    <title>Sheets.io - Make your life easier.</title>
    <%= csrf_meta_tags %>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <header>
        <%= render 'layouts/header' %>
      </header>

      <%= yield %>
    </div>
  </body>
</html>
